<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>COUNTER</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

</head>

<body>

    <p>
        ユーザ名:&nbsp;
        <input type="text" id="userName" value="0x0ee7cc1d54b391c8ed2c3c5c7c69f5f6ab0854b2">&nbsp; パスワード:&nbsp;
        <input type="text" id="password" value="">&nbsp;
        <input type="button" value="login" onclick="login();" />
    </p>

    <table id="list" border="1">
        <tr>
            <th></th>
            <th>name</th>
            <th>number of counter</th>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
    <br>
    <input type="button" value="countUp" onclick="countUp();">
    <br>
    <input type="button" value="refresh" onclick="refresh();">

    <script>
        var url = "/";
        var user_name;

        //ログイン
        function login() {
            user_name = $("#userName").val();
            var password = $("#password").val();
            var JSONdata = createJSONdata("personal_unlockAccount", [user_name, password, 100]);
            console.log(JSONdata);

            executeJsonRpc(url, JSONdata, function success(data) {
                //ログイン成功
                if (data.error == null) {
                    console.log("login success");
                } else {
                    //ログイン失敗
                    console.log("login error");
                }
                init();
            }, function error(data) {
                //ログインエラー
                console.log("login error");
            });
        }

        //JSONメッセージ生成
        function createJSONdata(method, params) {
            var JSONdata = {
                "jsonrpc": "2.0",
                "method": method,
                "params": params
            };
            return JSONdata;
        }

        //JSON-RPC実行
        function executeJsonRpc(url_exec, JSONdata, success, error) {
            $.ajax({
                type: 'post',
                url: url_exec,
                data: JSON.stringify(JSONdata),
                contentType: 'application/JSON',
                dataType: 'JSON',
                scriptCharset: 'utf-8',
                success: function (data) {
                    success(data);
                },
                error: function (data) {
                    error(data);
                }
            });
        }
    </script>
</body>

</html>
