<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Monitoring Tool</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <script>
    var stop = false;

    //監視開始
    function startMonitor() {
        stop = false;
        //20件前のブロックから参照
        var JSONdata = createJSONdata("time_obtain", []);
        console.log(JSON.stringify(JSONdata));
        executeJsonRpc('monitor/post', JSONdata)
        .done(
            function(data){
                console.log(data);
                $("#list-body").html(data.responseText);
            }
        ).fail(
            function(data){
                console.log(data);
                $("#list-body").html(data.responseText);

            }
        )
    }
    //JSONメッセージ生成
    function createJSONdata(method, params) {
        var JSONdata = {
            "jsonrpc": "2.0",
            "method": method,
            "params": params
        };
        return JSONdata;
    }

    //JSON-RPC実行
    function executeJsonRpc(url_exec, JSONdata) {
        return $.ajax({
            type: 'post',
            url: url_exec,
            data: JSON.stringify(JSONdata),
            contentType: 'application/JSON',
            dataType: 'JSON',
            scriptCharset: 'utf-8'
        });
    }

    //停止
    function stopWatch() {
        stop = true;
    }

    </script>
</head>

<body>
    <br>
    <input type="button" value="start" onclick="startMonitor();" />
    <input type="button" value="stop" onclick="stopWatch();">
    <table id="list" border="1">
    <thead>
    <tr>
        <th>Block
            <br>Number</th>
        <th>TimeStamp</th>
        <th>BlockHash</th>
        <th>Nonce</th>
        <th>Transaction</th>
    </tr>
    </thead>
    <tbody id="list-body">

    </tbody>

    </table>
</body>

</html>
